$main-blue: #0264a3;
$red: #e00101;

body {
  font-family: "Raleway", sans-serif;
}

.checkbox {
  display: none;
}

.checkbox:checked + .burger > .burger__line {
  border-bottom: 2px solid transparent;
}
.checkbox:checked + .burger > .burger__line::after {
  transform: rotate(-45deg);
  top: 0;
}
.checkbox:checked + .burger > .burger__line::before {
  transform: rotate(45deg);
  top: 0;
}

.header-top {
  background-color: $main-blue;

  .burger {
    height: 45px;
    width: 45px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1199px) {
      display: flex;
    }

    &__line {
      border-bottom: 2px solid white;
      width: 30px;
      height: 2px;
      position: relative;
      transition: 1s;

      &::after {
        content: "";
        position: absolute;
        top: 7px;
        border-bottom: 2px solid white;
        height: 2px;
        width: 30px;
        transition: 1s;
      }
      &::before {
        content: "";
        position: absolute;
        top: -7px;
        border-bottom: 2px solid white;
        height: 2px;
        width: 30px;
        transition: 1s;
      }
    }
  }

  .nav {
    height: 50px;
    @media screen and (max-width: 1199px) {
      display: none;
    }

    &__item {
      margin-right: 35px;
      height: 100%;

      &:last-child {
        margin-right: 0;
      }
      &-link {
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 3px solid transparent;

        &:hover {
          text-decoration: none;
          border-bottom: 3px solid $red;
        }
      }
    }
  }
}
.header-nav {
  display: flex;
  height: 65px;
  align-items: center;
  margin-top: 20px;

  &__logo {
    margin-right: 20px;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 13px;

    &-group {
      margin-left: 18px;
      width: 71px;
      display: flex;
      justify-content: space-between;
    }

    &-email {
      margin-left: 12px;
      color: black;
      font-weight: bold;
    }
  }
  &__item {
    margin-right: 25px;
    margin-top: 13px;
    color: black;
  }
  &__phones {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 170px;
    height: 42px;
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    justify-content: space-between;
  }
  &__button {
    background-color: $red;
    color: white;
    font-weight: bold;
    width: 224px;
    height: 46px;
    outline: none;
    font-size: 16px;
    border: none;

    &:hover {
      animation: buttonAnimation;
      animation-duration: 5s;
      animation-delay: 1s;
    }
  }
}
.line {
  display: flex;
  align-items: center;

  &__item {
    margin-top: 22px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #005fac;
    font-weight: bold;
    padding: 0px;
    width: 29%;

    &-blueLine {
      width: 71%;
      height: 3px;
      background-color: #005fac;
      margin-top: -4px;
    }
  }
}

.lamp {
  width: 100%;
  height: 694px;
  background-image: url(../images/lampsWithoutBlueEffect.jpg);
  background-blend-mode: multiply;
  background-color: #5491bf;
  padding: 0;
  padding-left: 82px;
  //background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 5px 7.28px 0.72px rgba(3, 47, 79, 0.25);

  &__header {
    margin-top: 50px;
    font-size: 43px;
    color: #ffffff;
    text-shadow: 0px 3px 3px#001625;

    &-red {
      margin-top: 24px;
      font-size: 43px;
      background-color: $red;
      color: #ffffff;
      padding: 0 20px;
      display: flex;
      text-transform: uppercase;
    }
  }
}

.wrap {
  margin-top: 72px;
  width: 1006px;
  height: 320px;
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__redBlock {
    width: 340px;
    height: 75px;
    background-color: $red;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &-romb {
      width: 18px;
      height: 18px;
      background-color: $red;
      transform: rotate(45deg);
      position: absolute;
      top: 29px;
      left: -9px;
      z-index: 0;
    }

    &-image {
      margin: 20px;
    }

    &-content {
      color: white;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
.stock {
  width: 616px;
  height: 320px;
  border: 2px solid #fff;
  background-color: #0365a4;
  box-sizing: border-box;

  &__blocks {
  }
}
.content {
  padding-left: 35px;

  &__text {
    padding-top: 35px;
    //padding-left: 35px;
    color: #fff;
  }

  &__form {
    margin-top: 30px;
    cursor: pointer;

    &-input {
      background-color: #0365a4;
      height: 30px;
      width: 285px;
      border: 1px solid white;
      color: #fff;
      margin-bottom: 6px;
      padding-left: 12px;

      &:hover {
        cursor: text;
      }
      &::placeholder {
        color: #fff;
      }
    }
  }
  &__btn {
    height: 45px;
    outline: none;
    background-color: $red;
    border: none;
    color: #fff;
  }
}
.blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__block {
    background-color: $red;
    color: #fff;
    width: 195px;
    height: 115px;
    border: 2px solid #fff;
    margin-top: 35px;
  }
  &__blocktrangle {
    width: 197px;
    height: 237px;
    background-image: url(../images/icons/flag.svg);
    margin-top: 25px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 28 px;
    position: relative;
    z-index: 10;
    font-size: 18px;
    color: white;
    line-height: 22px;

    &-free {
      line-height: 40px;
      font-size: 23px;
    }
  }
}

.profit {
  position: relative;
  margin-top: -225px;
  z-index: -1;
  height: 720px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../images/firstBlueBackground.jpg);
  .contentProfit {
    display: flex;
    justify-content: center;
    width: 1150px;
    height: 430px;
    flex-direction: column;
    padding: 0;
    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      position: relative;
      &::before {
        position: relative;
        content: "";
        width: 84px;
        height: 4px;
        background-color: $red;
        margin-right: 24px;
      }
    }
  }

  .blocks {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    height: 74%;
    &__item {
      box-sizing: border-box;
      border: 1px solid white;
    }
  }
}
.targetBlock {
  display: flex;
  justify-content: center;
}
.target {
  height: 600px;
  width: 1167px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__text {
    display: flex;
    justify-content: center;
    color: rgb(3, 65, 111);
    font-size: 30px;
    font-weight: bold;
    position: relative;

    &::before {
      position: relative;
      content: "";
      width: 84px;
      height: 4px;
      background-color: $red;
      margin-right: 24px;
      top: 20px;
    }
  }

  &__blocks {
    width: 100%;
    height: 53%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .blockitem {
      width: 240px;
      height: 320px;

      border-width: 4px;
      border-color: rgb(3, 101, 164);
      border-style: solid;
      background-color: rgb(3, 101, 164);
      box-shadow: 0px 5px 7.28px 0.72px rgba(3, 47, 79, 0.25);
      &__textblock {
        height: 30%;
        width: 100%;
        color: #fff;
        font-size: 18px;
        padding: 0 33px;
        line-height: 1.2;
        text-align: center;
        white-space: pre-line;
      }
      &__circleblock {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-circle {
          width: 156px;
          height: 156px;
          box-sizing: border-box;
          border: 4px solid white;
          border-radius: 50%;
          background-color: $red;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .uppertext {
      font-size: 30px;
      font-weight: bold;
      line-height: 0.2;
      text-transform: uppercase;
    }
  }

  &__btn {
    height: 45px;
    width: 350px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    line-height: 1.584;
    text-align: center;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.bgndResults {
  height: 676px;
  background-image: url(../images/secondBlueBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.results {
  &__text {
    height: 155px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    &::before {
      position: relative;
      content: "";
      width: 84px;
      height: 4px;
      background-color: $red;
      margin-right: 24px;
    }
  }
  &__news {
    height: 318px;
    display: flex;

    &-image {
      height: 318px;
      width: 300px;
      background-image: url(../images/metal-news.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-text {
      margin-left: 73px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .headerText {
        height: 60px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.12;
      }
      .h2Text {
        height: 35px;
        font-size: 22px;
        font-family: "Raleway";
        color: rgb(254, 254, 254);
        font-weight: bold;
        vertical-align: text-top;
      }
      .h3Text {
        font-size: 16px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.125;

        width: 664px;
      }
    }
  }
  .resultsBlock {
    width: 663px;
    height: 96px;
    display: flex;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 155px;
      height: 96px;
      box-sizing: border-box;
      background-color: $red;
      font-size: 18px;
      color: #fff;
      line-height: 0.95;
      padding-left: 24px;

      &:hover {
        border-bottom: 7px solid white;
      }
      &-text {
        font-size: 18px;
        color: #fff;
      }
      &-price {
        font-size: 24px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.056;
      }
    }
  }
  &__link {
    margin-top: 20px;

    &-a {
      font-size: 18px;
      color: #fff;
      font-weight: 400;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }

  .sitesExamples {
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      height: 240px;
      width: 240px;
      background-image: url(../images/metal-blocks.jpg);
      border-width: 4px;
      border-color: rgb(3, 101, 164);
      border-style: solid;
      box-sizing: border-box;
      box-shadow: 0px 5px 7.28px 0.72px rgba(3, 47, 79, 0.25);

      &:first-child {
        border-color: $red;
      }
      &-onfocus {
        height: 100%;
        width: 100%;
        opacity: 0;
        background-blend-mode: multiply;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &:hover {
          opacity: 1;
          cursor: pointer;
          background-blend-mode: multiply;
          // background-color: hsla(206, 59%, 58%, 0.404);
          background-color: rgba(2, 101, 163, 0.486);
        }
      }
      &-h1text {
        padding-left: 25px;
        font-size: 16px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.25;
        text-align: left;
        display: block;
        word-wrap: break-word;
        -moz-transform: matrix(1.15257622984019, 0, 0, 1.15257622984019, 0, 0);
        -webkit-transform: matrix(1.15257622984019, 0, 0, 1.15257622984019, 0, 0);
        -ms-transform: matrix(1.15257622984019, 0, 0, 1.15257622984019, 0, 0);
      }
      &-h2text {
        display: block;
        padding-left: 15px;
        font-size: 18px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.408;
        text-align: center;
        &:after {
          display: block;
          position: relative;
          content: "";
          width: 73px;
          height: 6px;
          background-color: $red;
          margin-top: 12px;
        }
      }
    }
  }
  .arrows {
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;

    &__item {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .RedButton {
    display: flex;
    justify-content: center;
    &__btn {
      height: 45px;
      width: 350px;
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      line-height: 1.584;
      text-align: center;
      background-color: $red;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
.priceHeader {
  margin-top: 293px;
  &__text {
    display: flex;
    justify-content: center;
    color: rgb(3, 65, 111);
    font-size: 30px;
    font-weight: bold;
    position: relative;

    &::before {
      position: relative;
      content: "";
      width: 84px;
      height: 4px;
      background-color: $red;
      margin-right: 24px;
      top: 20px;
    }
  }
}
.wrapPrice {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .priceBlock {
    width: 355px;
    height: 600px;
    &__Header {
      width: 355px;
      height: 88px;
      background-color: $main_blue;
      font-size: 24px;
      font-family: "Raleway";
      color: rgb(254, 254, 254);
      font-weight: bold;
      line-height: 1.083;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &__content {
      height: 390px;
      margin-top: 8px;

      background-color: #f8f8f8;
      &-item {
        font-size: 18px;
        color: rgb(58, 58, 59);
        font-weight: bold;
        line-height: 2.1;

        list-style-image: url(../images/icons/check-list.png);
        &:nth-child(odd) {
          background-color: #f0f3f5;
        }
        &:last-child {
          background-color: #f8f8f8;
        }
        &:nth-child(n + 8):nth-child(-n + 9) {
          // background-color: red;
          list-style-image: url(../images/icons/present-list.png);
        }
      }
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-sizing: border-box;
      height: 56px;
      width: 355px;
      background-color: $main-blue;
      border-top: 1px solid #65a0c6;
      border-bottom: 1px solid #65a0c6;
      color: rgb(255, 255, 255);
      padding-left: 15px;
      &-tag {
        margin-left: 19px;
        margin-right: 15px;
        font-size: 17px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        line-height: 1.811;
      }
      &-list {
        display: flex;
        justify-self: baseline;
        font-size: 20px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 1.267;
      }
    }
    &__time {
      height: 52px;
      padding-left: 15px;
      display: flex;
      align-items: center;
      &-list {
        margin-left: 19px;
        font-size: 18px;
        font-family: "Raleway";
        color: rgb(70, 70, 70);
        font-weight: bold;
        line-height: 1.408;
      }
    }
    &__redbtn {
      width: 100%;
      height: 51px;
      background-color: $red;
      font-size: 16px;
      font-family: "Raleway";
      color: rgb(255, 255, 255);
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        cursor: pointer;
      }
    }

  }
}

@keyframes buttonAnimation {
  // from{
  //     background-color: #0264a3;
  // }
  // to{
  //     background-color: aqua;
  // }
  0% {
    transform: rotate(-15deg);
  }
  5% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(15deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  35% {
    transform: rotate(-15deg);
  }
  45% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-180deg);
  }
  100% {
    transform: scale(1.5);
    perspective: 500px;
  }
}
